@* vue entiére *@







@model List<ModelAtosFramework.UserModel>



<table id='thisTable' class="table  table-striped ">
    <thead class="thead-dark">
        <tr>

            <th scope="col">ID</th>
            <th scope="col">Nom</th>
            <th scope="col">Prenom</th>
            <th scope="col">Compte</th>
            <th scope="col">Role</th>
            <th scope="col">Mot de passe</th>
            <th scope="col">Modifier</th>
            <th scope="col">Supprimer</th>
        </tr>
    </thead>


    <tbody>

        @foreach (var item in Model)
        {
            <tr class="altrenance">
                <td scope="col">@item.id</td>
                <td scope="col">@item.nom</td>
                <td scope="col">@item.prenom</td>

                <td scope="col">@item.nomDeCompte</td>
                <td scope="col">@item.id_ROLE</td>
                <td scope="col"><span type="password">@item.motDePasse</span></td>
                <td scope="col">

                    <button type="button" class="btn btn-primary glyphicon glyphicon-cog" data-toggle="modal" data-target="#modal">
                    </button>

                    <!-- Modal -->
                    @*<div class="modal " id="modal_@item.id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">

                                    <div class="modal-body">

                                            <input type="text" class="form-control" id="identification_@item.id" name="identification" placeholder="Nom" value="@item.id" required>
                                            <label for="exampleFormControlInput1">Nom</label>
                                            <input type="text" class="form-control" id="nom_@item.id" name="nom" placeholder="Nom" value="@item.nom" required>
                                            <label for="exampleFormControlInput1">Prenom</label>
                                            <input type="text" class="form-control" id="prenom_@item.id" name="prenom" placeholder="Prenom" value="@item.prenom" required>
                                            <label for="exampleFormControlInput1">nomDeCompte</label>
                                            <input type="text" class="form-control" id="nomDeCompte_@item.id" name="nomDeCompte" placeholder="nomDeCompte" value="@item.nomDeCompte" required>
                                            <label for="exampleFormControlSelect1">Role</label>
                                            <select class="form-control" name="id_ROLE" id="id_ROLE_@item.id" value="@item.id_ROLE" required>
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>

                                            </select>
                                            <label for="exampleFormControlInput1">Password</label>
                                            <input type="password" class="form-control" name="motDePasse" id="motDePasse_@item.id" value="@item.motDePasse" placeholder="ceci est le mot de passe" required>
                                            <button class="btn btn-success  " onclick="idincruste('identification_@item.id', 'nom_@item.id', 'prenom_@item.id' , 'nomDeCompte_@item.id','motDePasse_@item.id','id_ROLE_@item.id'  )" type="submit" value=" Sauvegarder">Sauvegarder</button>





                                        </div>


                                </div>
                            </div>
                        </div>*@
                </td>
                <td scope="col ">
                    @using (Html.BeginForm("suprimer", "Utilisateur", FormMethod.Post))
                    {


                        <input type="text" name="suprimer" id="suprimer" value="@item.id" hidden />
                        <button type="submit " class="btn btn-danger glyphicon glyphicon-trash"></button>

                    }
                </td>


            </tr>

        }


    </tbody>
</table>


<div class="modal " id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-body">

                <input type="text" class="form-control" id="identification" name="identification" placeholder="identification" value="" required>
                <label for="exampleFormControlInput1">Nom</label>
                <input type="text" class="form-control" id="nom" name="nom" placeholder="Nom" value="" required>
                <label for="exampleFormControlInput1">Prenom</label>
                <input type="text" class="form-control" id="prenom" name="prenom" placeholder="Prenom" value="" required>
                <label for="exampleFormControlInput1">nomDeCompte</label>
                <input type="text" class="form-control" id="nomDeCompte" name="nomDeCompte" placeholder="nomDeCompte" value="" required>
                <label for="exampleFormControlSelect1">Role</label>
                <select class="form-control" name="id_ROLE" id="id_ROLE" value="" required>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>

                </select>
                <label for="exampleFormControlInput1">Password</label>
                <input type="password" class="form-control" name="motDePasse" id="motDePasse" value="motDePasse" placeholder="ceci est le mot de passe" required>
                <button id="UserChangeEdit" class="btn btn-success  " type="submit" value=" Sauvegarder">Sauvegarder</button>



                @* onclick="idincruste()"*@

            </div>


        </div>
    </div>
</div>

<script>
            var memoJson = [];
        $("#thisTable tr").click(function () {
            var myArr = [];


            $(this).find("td").each(function (colIndex, c) {
                myArr[colIndex] = c.innerText;

            });
            $('#identification').val(myArr[0]);
            $('#nom').val(myArr[1]);
            $('#prenom').val(myArr[2]);
            $('#nomDeCompte').val(myArr[3]);
            $('#id_ROLE').val(myArr[4]);
            $('#motDePasse').val(myArr[5]);
        });

         $(function () {
        $('#UserChangeEdit').on('click', function () {

            var data = JSON.stringify(GetUser());

            $.ajax({
                type: 'POST',
                url: '@Url.Action("EnregistreEdit", "Utilisateur")',
                contentType: "application/json;",
                data: data,
                success: function (response) {


                    // alert('true');
                },
                error: function (response) {


                    alert('false');
                }
            });


            $('.modal').modal('hide');
            setTimeout(() => { MiseAjourDuTableau() }, 500);

        });

         });



    function GetUser() {

        //alert($('#identification').val() + ' ' + $('#nom').val() + ' ' + $('#prenom').val()+' ' + $('#nomDeCompte').val() + ' ' + $('#motDePasse').val() + ' ' + $('#id_ROLE').val() );
        var jsonObject = {
            "ididentification": $('#identification').val(),
            "nom": $('#nom').val(),
            "prenom": $('#prenom').val(),
            "nomDeCompte": $('#nomDeCompte').val(),
            "motDePasse": $('#motDePasse').val(),
            "id_ROLE": $('#id_ROLE').val()
        };
        return jsonObject;
    }

</script>
